/* Стиль дизайна Яндекса */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.container {
    width: 600px;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

label {
    display: block;
    margin-bottom: .5rem;
}

input, select, textarea {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ddd;
    outline: none;
}

textarea {
    min-height: 50px;
    max-height: 200px;
    overflow: auto;
}

button {
    cursor: pointer;
    padding: .5rem 1rem;
    border: none;
    background-color: #4CAF50; /* Цвет зеленый */
    color: white;
    transition: all .3s ease;
}

button:hover {
    background-color: #43A047;
}

button:active {
    transform: scale(.95);
}
